// import bootstrap vars
@import '../../node_modules/bootstrap/scss/_variables.scss';

// custom bootstrap goes here
$brand-info: rgba(0,0,0,0.2);

// import the rest of bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.social-icon {
  width: 35px;
  height: 35px;
}

body ul {
  list-style: none;
}

body {
  background-color: #172214;
  background-image: url(/public/bg.jpg);
  transition: background-image 1000ms ease-in 250ms;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
